/* Imposta la larghezza massima delle immagini al 100% del contenitore */
img {
	max-width: 100%;
}

/* Stile per il layout 'polaroid' */
.polaroid {
	width: 100%;
	/* Larghezza al 100% del contenitore */
	padding: 10px 10px 10px 7px;
	/* Padding interno */
	border: 1px solid #BFBFBF;
	/* Bordo solido grigio */
	background-color: white;
	/* Colore di sfondo bianco */
	color: black !important;
	/* Colore del testo nero, con priorità alta */
	text-align: left;
	/* Allineamento del testo a sinistra */
}

/* Stile specifico per link all'interno dei 'polaroid' */
.polaroid a {
	color: black !important;
}

/* Stile specifico per le immagini all'interno dei 'polaroid' */
.polaroid img {
	width: 97%;
	/* Larghezza leggermente inferiore per creare un margine interno */
}

/* Stile per ruotare un elemento verso destra */
.ruotadestra {
	-ms-transform: rotate(7deg);
	/* Transform per Internet Explorer */
	-webkit-transform: rotate(7deg);
	/* Transform per browser basati su WebKit (Safari, Chrome) */
	transform: rotate(7deg);
	/* Transform standard */
}

/* Stile per ruotare un elemento verso sinistra */
.ruotasinistra {
	-ms-transform: rotate(-8deg);
	/* Transform per Internet Explorer */
	-webkit-transform: rotate(-8deg);
	/* Transform per browser basati su WebKit */
	transform: rotate(-8deg);
	/* Transform standard */
}